@using ExamManager.Models;

@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/account/admin.css" />
    <link rel="stylesheet" href="~/css/account/navbar.css" />
    @if (Context.Request.Path.Value.Equals(Routes.StudentsPage))
    {
        <link rel="stylesheet" href="~/css/account/students.css" />
    }
    @if (Context.Request.Path.Value.Equals(Routes.TasksPage))
    {
        <link rel="stylesheet" href="~/css/account/tasks.css" />
    }
    <link rel="stylesheet" href="~/css/fontawesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/css/fontawesome/css/solid.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/js.cookie.js"></script>
    <script src="~/js/jwt-decode.js"></script>
    <script src="~/js/requests.js"></script>
    <title>@(ViewData["Title"].ToString() ?? "ExamManager")</title>
</head>
<body>
    <div class="nav">
        <div id="user-name" class="nav-title">
            <i class="fa fa-solid fa-user"></i>
            <span>@(ViewData["UserName"].ToString())</span>
        </div>
        @if ((bool?)ViewData["IsAdmin"] ?? false)
        {
            <a href="@(Routes.StudentsPage)" class="@(Context.Request.Path.Value.Equals(Routes.StudentsPage) ? "nav-item hl" : "nav-item" )"><i class="fa-solid fa-user-graduate"></i>Студенты</a>
            <a href="@(Routes.GroupsPage)" class="@(Context.Request.Path.Value.Equals(Routes.GroupsPage) ? "nav-item hl" : "nav-item" )"><i class="fa-solid fa-user-group"></i>Группы</a>
        }
        else
        {
            <a href="@(Routes.TasksPage)" class="@(Context.Request.Path.Value.Equals(Routes.TasksPage) ? "nav-item hl" : "nav-item" )"><i class="fa-solid fa-book"></i>Задания</a>
        }
        <a href="@(Routes.SettingsPage)" class="@(Context.Request.Path.Value.Equals(Routes.SettingsPage) ? "nav-item hl" : "nav-item" )"><i class="fa-solid fa-gear"></i> Настройки</a>
        <a href="#" id="logout" class="nav-exit">Выйти</a>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
<script src="~/js/account/index.js"></script>
@if (Context.Request.Path.Value.Equals(Routes.GroupsPage))
{
    <script src="~/js/account/groups.js"></script>
}
@if (Context.Request.Path.Value.Equals(Routes.StudentsPage))
{
    <script src="~/js/account/students.js"></script>
}
@if (Context.Request.Path.Value.Equals(Routes.GroupPage))
{
    <script src="~/js/account/group.js"></script>
}
@if (Context.Request.Path.Value.Equals(Routes.TaskPage))
{
    <script src=~/js/account/task.js></script>
}
@if (Context.Request.Path.Value.Equals(Routes.SettingsPage))
{
    <script src=~/js/account/settings.js></script>
}
@if (Context.Request.Path.Value.Equals(Routes.TasksPage))
{
    <script src=~/js/account/tasks.js></script>
}
</html>
