@using ExamManager.Models
@model (User User, PersonalTaskView PersonalTask)
@{
    ViewData["Title"] = Model.PersonalTask.Title;
    ViewData["UserName"] = $"{Model.User.LastName} {Model.User.FirstName}";
    ViewData["IsAdmin"] = Model.User.Role == UserRole.ADMIN;
    Layout = "_AccountLayout";
}
<link rel="stylesheet" href="~/css/account/task.css" />
<div class="container">
    <div class="page-header" value="@Model.PersonalTask.ObjectID">@Model.PersonalTask.Title</div>
    <div class="description">
        @Html.Raw(Model.PersonalTask.Description)
    </div>
    <div class="vmachines-list">
        @foreach (var vMachine in Model.PersonalTask.VirtualMachines)
        {
            <div id="@vMachine.Image.ID" class="vmachine">
                <div class="header">@vMachine.Image.ID</div>
                <!--С помощью JS подгружается список рабоающих виртуальных машин-->
                @if ((vMachine.Instance?.Status ?? VMStatus.KILLED) == VMStatus.KILLED)
                {
                    <div class="description danger">
                        Отключена
                    </div>
                }
                else
                {
                    <div class="description success">
                        Работает
                    </div>
                }
                <div class="actions">
                    @if ((vMachine.Instance?.Status ?? VMStatus.RUNNING) == VMStatus.RUNNING)
                    {
                        <input type="button" class="btn-action connecct" value="Подключиться" />
                        <input type="button" class="btn-cancel turn-off" value="Отключить" />
                    }
                    else
                    {
                        <input type="button" class="btn-info turn-on" value="Включить" />
                    }
                </div>
            </div>
        }
    </div>
    <div class="footer">
        <input type="button" class="btn-info" value="Проверить" />
    </div>
</div>
<script src="~/js/account/task/personal-task.js"></script>